// Elements
html {
    scroll-behavior: smooth;
    font-size: 14px; // setting the root font sizing for rem use.
}

* {
    font-family: $font-main;
}

body.theme--light {
    background-color: $page-bg-light;
    color: $page-on-bg-light;
}

body.theme--dark {
    background-color: $page-bg-dark;
    color: $page-on-bg-dark;
}


body {
    margin: 0;
}

a {
    text-decoration: none;
    @include themed() {
        color: toggleTheme("page-on-bg");
    }
}


// Classes
.container {
    @include container( $container-margin, 0);
}

.cards {
    @include grid(350px, 1fr, 48px);

    .card {
        width: 350px;
        height: 200px;

        @include themed() {
            background-color: toggleTheme("placeholder-bg");
            color: toggleTheme("placeholder-on-bg");
        }

        border-radius: 24px;
    }
}

.no-italic {
    font-style: normal;
}

.italic {
    font-style: italic;
}