header {
    @include flex(row, space-between, center);

    margin-top: 20px;

    .branding {
        @include flex(row, center, center, 16px);

        @include themed() {
            color: toggleTheme("brand-colour");
        }
        font-weight: bold;
        font-size: 1.5rem;
    }

    nav {
        @include flex(row, center, center, 48px);

        font-size: 1.2rem;
        font-weight: 500;

        a {
            @include themed() {
                border-bottom: 4px solid toggleTheme("page-bg");
            }
            transition: border-bottom 1s;

            &::after {
                content: '.';
            }

            &:hover {
                @include themed() {
                    border-bottom: 4px solid toggleTheme("hovered-page");
                }
            }
        }

        a.theme {
            margin-left: 40px;
            border-bottom: none;
            font-size: 1.8rem;
            @include themed() {
                color: toggleTheme("page-on-bg");
            }

            transition: transform 1s;

            &::after {
                content: '';
            }

            &:hover {
                transform: scale(1.3);
                border-bottom: none;
            }
        }

        a.current {
            @include themed() {
                border-bottom: 4px solid toggleTheme("current-page");
            }
        }
    }
}
