////////////////////////// Fonts \\\\\\\\\\\\\\\\\\\\\\\\\\
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
$font-main: 'Inter', sans-serif;
$font-secondary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

////////////////////////// Colours \\\\\\\\\\\\\\\\\\\\\\\\\\
/// ----- Light Theme ----- \\\
// Page Colours
$page-bg-light: #fff;
$page-on-bg-light: #222;
$brand-colour-light: #467397;

// Nav Link Colours
$current-page-light: #4AA5EA;
$hovered-page-light: #9DACE0;

// Pop Up Colours
$pop-up-bg-light: #647DD6;
$pop-up-on-bg-light: #fff;

// Button Colours
$primary-btn-light: #33BD7B;
$primary-on-btn-light: #fff;
$hover-btn-light: #2ba469;

$secondary-btn-light: #728CEA;
$secondary-on-btn-light: #fff;
$secondary-hover-btn-light: #5f76c6;

// Input Colours
$input-bg-light: #D3DCFD;
$input-on-bg-light: #000;

// Calendar Overview Placeholder Colours
$cal-card-bg-light: #fff;
$cal-card-label-bg-light: #444;

// Calendar Box Colours
$cal-box-bg-light: #fff;
$cal-box-border-light: #eee;
$cal-box-label-light: #eee;
$cal-box-border-hover-light: #ddd;
$cal-red-light: #DD4646;

// Error Message Colours
$error-msg-light: #DD4646;

// Placeholder Colours
$placeholder-bg-light: #D9D9D9;
$placeholder-on-bg-light: #000;


/// ----- Dark Theme ----- \\\
// Page Colours
$page-bg-dark: #333;
$page-on-bg-dark: #fff;
$brand-colour-dark: #fff;

// Nav Link Colours
$current-page-dark: #33B5E4;
$hovered-page-dark: #7d93f9;

// Pop Up Colours
$pop-up-bg-dark: #0C6CB9;
$pop-up-on-bg-dark: #fff;

// Button Colours
$primary-btn-dark: #3FF09B;
$primary-on-btn-dark: #000;
$hover-btn-dark: #34B678;

$secondary-btn-dark: #3662FE;
$secondary-on-btn-dark: #fff;
$secondary-hover-btn-dark: #2f55dd;

// Input Colours
$input-bg-dark: #6184FE;
$input-on-bg-dark: #fff;

// Calendar Overview Placeholder Colours
$cal-card-bg-dark: #222;
$cal-card-label-bg-dark: #fff;

// Calendar Box Colours
$cal-box-bg-dark: #222;
$cal-box-border-dark: #111;
$cal-box-label-dark: #111;
$cal-box-border-hover-dark: #000;
$cal-red-dark: #FF3232;

// Error Message Colours
$error-msg-dark: #FFBBBB;

// Placeholder Colours
$placeholder-bg-dark: #555;
$placeholder-on-bg-dark: #fff;


////////////////////////// White Space \\\\\\\\\\\\\\\\\\\\\\\\\\
// Margin / Padding
$container-margin: 120px;
$section-margin-top: 50px;