@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 14px;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  margin: 0 120px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 48px;
  row-gap: 20px !important;
}
.cards .card {
  width: 350px;
  height: 200px;
  background-color: #D9D9D9;
  border-radius: 24px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
header .branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #467397;
  font-weight: bold;
  font-size: 1.5rem;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
  font-size: 1.2rem;
  font-weight: 500;
}
header nav a {
  border-bottom: 4px solid #fff;
  transition: border-bottom 1s;
}
header nav a::after {
  content: ".";
}
header nav a:hover {
  border-bottom: 4px solid #9DACE0;
}
header nav a.theme {
  margin-left: 40px;
  border-bottom: none;
  font-size: 1.8rem;
  color: #333;
  transition: transform 1s;
}
header nav a.theme::after {
  content: "";
}
header nav a.theme:hover {
  transform: scale(1.3);
  border-bottom: none;
}
header nav a.current {
  border-bottom: 4px solid #27B6B6;
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section.hero h1 {
  font-size: 2.5rem;
}
section.hero input {
  align-self: flex-end;
  width: 250px;
  margin-right: 24px;
  padding: 12px 16px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 8px;
}
section.hero input::-moz-placeholder {
  color: #333;
  font-size: 1.1rem;
}
section.hero input::placeholder {
  color: #333;
  font-size: 1.1rem;
}
section.hero input:active {
  outline-color: #333;
}
section.hero .calendar {
  background-color: #D3DCFD;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1294117647);
}

section.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.pinned {
  margin-top: 50px;
}
section.pinned .page-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
section.pinned .page-heading .view-change {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
section.pinned .page-heading .view-change a {
  text-decoration: underline;
}
section.pinned .btn-container button {
  background-color: #728CEA;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
  margin-top: 20px;
}
section.pinned .btn-container button:hover {
  cursor: pointer;
  background-color: #5b70bd;
}
section.pinned .calendar-cards .card {
  background-color: #fff;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1098039216);
  margin: 24px auto;
  box-sizing: border-box;
  border-bottom: 50px solid #444;
}
section.pinned .calendar-cards .card .info {
  margin-top: 47%;
  margin-right: 24px;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: right;
}

main {
  margin-top: 50px;
}
main .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .btn-container.grocery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
main button {
  margin-top: 100px;
  background-color: #33BD7B;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
main button:hover {
  cursor: pointer;
  background-color: #2ba469;
}

section.pop-up-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -800px;
  z-index: 1;
}
section.pop-up-container div.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #467397;
  color: #fff;
  padding: 48px 96px;
  border-radius: 32px;
  margin-bottom: 20px;
}
section.pop-up-container div.pop-up p {
  font-weight: 700;
  font-size: 2rem;
  padding-top: 40px;
}
section.pop-up-container div.pop-up span.close-btn {
  margin-left: -770px;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: -80px;
  margin-top: -10px;
}
section.pop-up-container div.pop-up span.close-btn:hover {
  cursor: pointer;
}
section.pop-up-container div.pop-up form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
section.pop-up-container div.pop-up form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
}
section.pop-up-container div.pop-up form div.recipe-name-group input {
  margin-left: -20px;
}
section.pop-up-container div.pop-up form input, section.pop-up-container div.pop-up form textarea, section.pop-up-container div.pop-up form select {
  width: 500px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  margin-top: -10px;
}
section.pop-up-container div.pop-up form label {
  font-weight: 500;
  font-size: 1.3rem;
}
section.pop-up-container div.pop-up form div.warning p {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 80px;
  margin-top: -24px;
}
section.pop-up-container div.pop-up form div.warning p span {
  margin-right: 8px;
}
section.pop-up-container div.pop-up form input[type=submit] {
  background-color: #33BD7B;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
  width: 540px;
  margin-left: 160px;
}
section.pop-up-container div.pop-up form input[type=submit]:hover {
  cursor: pointer;
  background-color: #2ba469;
}
section.pop-up-container div#add-list form div.warning p {
  margin-left: -20px;
}
section.pop-up-container div#add-list form div.list-ingredients-group input {
  margin-left: -8px;
}
section.pop-up-container div#add-list form input, section.pop-up-container div#add-list form textarea, section.pop-up-container div#add-list form select {
  margin-top: -8px;
}
section.pop-up-container div#add-list form input[type=submit] {
  width: 530px;
  margin-left: 140px;
}
section.pop-up-container section#generate-list-popup div#generate-list form select {
  margin-top: -10px;
  margin-bottom: 40px;
  font-size: 1.2rem;
}
section.pop-up-container section#generate-list-popup div#generate-list form input[type=submit] {
  width: 500px;
  margin-left: 190px;
}

.toggle-popup-display {
  display: none;
}

main#sign-in-form,
main#sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
main#sign-in-form form,
main#sign-up-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
main#sign-in-form form div.log-group,
main#sign-up-form form div.log-group {
  font-size: 1.4rem;
}
main#sign-in-form form div.log-group label,
main#sign-up-form form div.log-group label {
  font-weight: 500;
  margin-right: 40px;
}
main#sign-in-form form div.log-group input,
main#sign-up-form form div.log-group input {
  margin-top: 16px;
  min-width: 400px;
  width: 35vw;
  padding: 12px 16px;
  background-color: #D3DCFD;
  border-radius: 8px;
  outline: none;
  border: none;
}
main#sign-in-form form button#login-btn,
main#sign-up-form form button#login-btn {
  margin-top: 80px;
  background-color: #33BD7B;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
main#sign-in-form form button#login-btn:hover,
main#sign-up-form form button#login-btn:hover {
  cursor: pointer;
  background-color: #2ba469;
}
main#sign-in-form div.sign-up-link a.sign-up-link,
main#sign-up-form div.sign-up-link a.sign-up-link {
  font-weight: 700;
  text-decoration: underline;
}

main#sign-up-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
main#sign-up-form form div.log-group {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}
main#sign-up-form form div.log-group input {
  min-width: 500px;
  width: 50vw;
}
main#sign-up-form form button#login-btn {
  margin-top: 24px;
  background-color: #33BD7B;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
main#sign-up-form form button#login-btn:hover {
  cursor: pointer;
  background-color: #2ba469;
}/*# sourceMappingURL=style.css.map */