@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 14px;
}

* {
  font-family: "Inter", sans-serif;
}

body.theme--light {
  background-color: #fff;
  color: #000;
}

body.theme--dark {
  background-color: #333;
  color: #fff;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
.theme--light a {
  color: #000;
}
.theme--dark a {
  color: #fff;
}

.container {
  margin: 0 120px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 48px;
  row-gap: 20px !important;
}
.cards .card {
  width: 350px;
  height: 200px;
  border-radius: 24px;
}
.theme--light .cards .card {
  background-color: #D9D9D9;
  color: #000;
}
.theme--dark .cards .card {
  background-color: #555;
  color: #fff;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 0 16px 0;
}
header .branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: bold;
  font-size: 1.5rem;
}
.theme--light header .branding {
  color: #467397;
}
.theme--dark header .branding {
  color: #fff;
}
header .branding img {
  height: 60px;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
  font-size: 1.2rem;
  font-weight: 500;
}
header nav a {
  transition: border-bottom 1s;
}
.theme--light header nav a {
  border-bottom: 4px solid #fff;
}
.theme--dark header nav a {
  border-bottom: 4px solid #333;
}
.theme--light header nav a:hover {
  border-bottom: 4px solid #9DACE0;
}
.theme--dark header nav a:hover {
  border-bottom: 4px solid #7d93f9;
}
header nav a.theme {
  margin-left: 40px;
  margin-right: 16px;
  border-bottom: none;
  font-size: 1.8rem;
  transition: transform 1s;
}
.theme--light header nav a.theme {
  color: #000;
}
.theme--dark header nav a.theme {
  color: #fff;
}
header nav a.theme:hover {
  transform: scale(1.3);
  border-bottom: none;
}
header nav a.theme img {
  width: 24px;
}
header nav a.user {
  border-bottom: none;
}
header nav a.user:hover {
  text-decoration: underline;
  border-bottom: none;
}
.theme--light header nav a.current {
  border-bottom: 4px solid #4AA5EA;
}
.theme--dark header nav a.current {
  border-bottom: 4px solid #33B5E4;
}
header nav .user-login-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 8px;
}
header nav .user-login-details a {
  padding: 4px 8px;
  border-radius: 8px;
  min-width: 90px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.theme--light header nav .user-login-details a {
  background-color: #659FF6;
  color: #fff;
}
.theme--dark header nav .user-login-details a {
  background-color: #659FF6;
  color: #fff;
}
.theme--light header {
  border-bottom: 2px solid #eee;
}
.theme--dark header {
  border-bottom: 2px solid #444;
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section.hero h1 {
  font-size: 2.5rem;
}
section.hero input {
  align-self: flex-end;
  width: 250px;
  margin-right: 24px;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
}
.theme--light section.hero input {
  background-color: #D9D9D9;
  color: #000;
}
.theme--dark section.hero input {
  background-color: #555;
  color: #fff;
}
section.hero input::-moz-placeholder {
  font-size: 1.1rem;
}
section.hero input::placeholder {
  font-size: 1.1rem;
}
.theme--light section.hero input::-moz-placeholder {
  color: #000;
}
.theme--light section.hero input::placeholder {
  color: #000;
}
.theme--dark section.hero input::-moz-placeholder {
  color: #fff;
}
.theme--dark section.hero input::placeholder {
  color: #fff;
}
section.hero input:active {
  outline-color: #333;
}
section.hero .calendar {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1294117647);
}
.theme--light section.hero .calendar {
  background-color: #D3DCFD;
  color: #000;
  color-scheme: light;
}
.theme--dark section.hero .calendar {
  background-color: #6184FE;
  color: #fff;
  color-scheme: dark;
}

section.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.pinned {
  margin-top: 50px;
}
section.pinned .page-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
section.pinned .page-heading .view-change {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
section.pinned .page-heading .view-change a {
  text-decoration: underline;
}
section.pinned .btn-container button {
  margin-top: 20px;
}
.theme--light section.pinned .btn-container button {
  background-color: #728CEA;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--light section.pinned .btn-container button:hover {
  cursor: pointer;
  background-color: #5f76c6;
}
.theme--dark section.pinned .btn-container button {
  background-color: #3662FE;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--dark section.pinned .btn-container button:hover {
  cursor: pointer;
  background-color: #2f55dd;
}
section.pinned .calendar-cards .card {
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1098039216);
  margin: 24px auto;
  box-sizing: border-box;
}
.theme--light section.pinned .calendar-cards .card {
  background-color: #fff;
  border-bottom: 50px solid #444;
}
.theme--dark section.pinned .calendar-cards .card {
  background-color: #222;
  border-bottom: 50px solid #fff;
}
section.pinned .calendar-cards .card .info {
  margin-top: 47%;
  margin-right: 24px;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: right;
}
.theme--light section.pinned .calendar-cards .card .info {
  color: #fff;
}
.theme--dark section.pinned .calendar-cards .card .info {
  color: #222;
}

main {
  margin-top: 50px;
}
main .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.theme--light main button {
  margin-top: 100px;
  background-color: #33BD7B;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--light main button:hover {
  cursor: pointer;
  background-color: #2ba469;
}
.theme--dark main button {
  margin-top: 100px;
  background-color: #3FF09B;
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--dark main button:hover {
  cursor: pointer;
  background-color: #34B678;
}

section.pop-up-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -800px;
  z-index: 1;
}
section.pop-up-container div.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 48px 96px;
  border-radius: 32px;
  margin-bottom: 20px;
}
.theme--light section.pop-up-container div.pop-up {
  background-color: #647DD6;
  color: #fff;
}
.theme--dark section.pop-up-container div.pop-up {
  background-color: #0C6CB9;
  color: #fff;
}
section.pop-up-container div.pop-up p {
  font-weight: 700;
  font-size: 2rem;
  padding-top: 40px;
}
section.pop-up-container div.pop-up span.close-btn {
  margin-left: -770px;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: -80px;
  margin-top: -10px;
}
section.pop-up-container div.pop-up span.close-btn:hover {
  cursor: pointer;
}
section.pop-up-container div.pop-up form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
section.pop-up-container div.pop-up form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
}
section.pop-up-container div.pop-up form div.recipe-name-group input {
  margin-left: -20px;
}
section.pop-up-container div.pop-up form input, section.pop-up-container div.pop-up form textarea, section.pop-up-container div.pop-up form select {
  width: 500px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  margin-top: -10px;
}
section.pop-up-container div.pop-up form div.recipe-ingredients-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section.pop-up-container div.pop-up form div.recipe-ingredients-group div.recipe-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section.pop-up-container div.pop-up form div.recipe-ingredients-group div.recipe-ingredients div.recipe-ingredient-subgroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: -24px;
  margin-left: 150px;
}
section.pop-up-container div.pop-up form div.recipe-ingredients-group div.recipe-ingredients div.recipe-ingredient-subgroup input {
  width: 150px;
}
section.pop-up-container div.pop-up form div.recipe-ingredients-group div.recipe-ingredients div.recipe-ingredient-subgroup input:first-of-type {
  width: 300px;
}
section.pop-up-container div.pop-up form div.recipe-ingredients-group button {
  font-size: 1rem;
  padding: 8px 16px;
  margin-left: 150px;
}
.theme--light section.pop-up-container div.pop-up form div.recipe-ingredients-group button {
  margin-top: -32px;
  background-color: #33BD7B;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--light section.pop-up-container div.pop-up form div.recipe-ingredients-group button:hover {
  cursor: pointer;
  background-color: #2ba469;
}
.theme--dark section.pop-up-container div.pop-up form div.recipe-ingredients-group button {
  margin-top: -32px;
  background-color: #3FF09B;
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--dark section.pop-up-container div.pop-up form div.recipe-ingredients-group button:hover {
  cursor: pointer;
  background-color: #34B678;
}
section.pop-up-container div.pop-up form div.recipe-ingredients-group button#add-recipe-ingredient-input-btn {
  padding: 8px 16px;
}
section.pop-up-container div.pop-up form label {
  font-weight: 500;
  font-size: 1.3rem;
}
section.pop-up-container div.pop-up form div.warning p {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 80px;
  margin-top: -36px;
}
section.pop-up-container div.pop-up form div.warning p span {
  margin-right: 8px;
}
section.pop-up-container div.pop-up form div.recipe-tags-group {
  margin-left: 65px;
}
section.pop-up-container div.pop-up form div.recipe-time-estimation-group {
  margin-left: -30px;
}
section.pop-up-container div.pop-up form input[type=submit] {
  width: 540px;
  margin-left: 160px;
}
.theme--light section.pop-up-container div.pop-up form input[type=submit] {
  background-color: #33BD7B;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--light section.pop-up-container div.pop-up form input[type=submit]:hover {
  cursor: pointer;
  background-color: #2ba469;
}
.theme--dark section.pop-up-container div.pop-up form input[type=submit] {
  background-color: #3FF09B;
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--dark section.pop-up-container div.pop-up form input[type=submit]:hover {
  cursor: pointer;
  background-color: #34B678;
}
section.pop-up-container div#add-list form div.warning p {
  margin-left: -20px;
}
section.pop-up-container div#add-list form div.list-ingredients-group input {
  margin-left: -8px;
}
section.pop-up-container div#add-list form input, section.pop-up-container div#add-list form textarea, section.pop-up-container div#add-list form select {
  margin-top: -8px;
}
section.pop-up-container div#add-list form input[type=submit] {
  width: 530px;
  margin-left: 140px;
}
section.pop-up-container section#generate-list-popup div#generate-list form select {
  margin-top: -10px;
  margin-bottom: 40px;
  font-size: 1.2rem;
}
section.pop-up-container section#generate-list-popup div#generate-list form input[type=submit] {
  width: 500px;
  margin-left: 190px;
}

.toggle-popup-display {
  display: none;
}

main#planner-main input#selected-date {
  font-weight: bold;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 8px;
}
.theme--light main#planner-main input#selected-date {
  color-scheme: light;
  background-color: #D9D9D9;
  color: #000;
}
.theme--dark main#planner-main input#selected-date {
  color-scheme: dark;
  background-color: #555;
  color: #fff;
}
main#planner-main input#selected-date:hover {
  cursor: pointer;
}
.theme--light main#planner-main input#selected-date:hover {
  background-color: #fff;
  border: 2px solid #D9D9D9;
  padding: 6px 14px;
}
.theme--dark main#planner-main input#selected-date:hover {
  background-color: #222;
  border: 2px solid #222;
  padding: 6px 14px;
}
main#planner-main #cal-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.theme--light main#planner-main #cal-btns button {
  margin-top: 25px;
  background-color: #728CEA;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
  padding: 8px 16px;
}
.theme--light main#planner-main #cal-btns button:hover {
  cursor: pointer;
  background-color: #5f76c6;
}
.theme--dark main#planner-main #cal-btns button {
  margin-top: 25px;
  background-color: #3662FE;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
  padding: 8px 16px;
}
.theme--dark main#planner-main #cal-btns button:hover {
  cursor: pointer;
  background-color: #2f55dd;
}

.dynamic-calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  gap: 36px;
  row-gap: 20px !important;
  margin: 16px 0 16px 0;
}
.dynamic-calendar .dynamic-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.theme--light .dynamic-calendar .dynamic-date {
  background-color: #fff;
  border: 2px solid #eee;
  box-shadow: 0px 0px 4px 2px #eee;
}
.theme--light .dynamic-calendar .dynamic-date:hover {
  box-shadow: 0px 0px 4px 4px #ddd;
}
.theme--dark .dynamic-calendar .dynamic-date {
  background-color: #222;
  border: 2px solid #111;
  box-shadow: 0px 0px 4px 2px #111;
}
.theme--dark .dynamic-calendar .dynamic-date:hover {
  box-shadow: 0px 0px 4px 4px #000;
}
.dynamic-calendar .dynamic-date .cal-day {
  margin: 0;
  padding: 4px 8px;
  border-radius: 0 0 0 4px;
  font-size: 1.2rem;
  font-weight: bold;
}
.theme--light .dynamic-calendar .dynamic-date .cal-day {
  background-color: #eee;
}
.theme--dark .dynamic-calendar .dynamic-date .cal-day {
  background-color: #111;
}
.dynamic-calendar .dynamic-date .add-to-cal-btn {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 50%;
  padding: 4px 8px;
  margin: 4px;
}
.theme--light .dynamic-calendar .dynamic-date .add-to-cal-btn {
  background-color: #33BD7B;
  color: #fff;
}
.theme--dark .dynamic-calendar .dynamic-date .add-to-cal-btn {
  background-color: #3FF09B;
  color: #000;
}
.theme--light .dynamic-calendar .dynamic-date .add-to-cal-btn:hover {
  background-color: #2ba469;
}
.theme--dark .dynamic-calendar .dynamic-date .add-to-cal-btn:hover {
  background-color: #34B678;
}
.theme--light .dynamic-calendar .dynamic-date.current-day {
  border: 2px solid #DD4646;
}
.theme--dark .dynamic-calendar .dynamic-date.current-day {
  border: 2px solid #FF3232;
}
.dynamic-calendar .dynamic-date.current-day .cal-day {
  color: #fff;
}
.theme--light .dynamic-calendar .dynamic-date.current-day .cal-day {
  background-color: #DD4646;
}
.theme--dark .dynamic-calendar .dynamic-date.current-day .cal-day {
  background-color: #FF3232;
}

form#cal-form .box-date {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  margin-top: -16px;
  padding: 8px 16px;
  border-radius: 8px;
}

.toggle-cal-display {
  display: none;
}

main#sign-in-form,
main#sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
main#sign-in-form form,
main#sign-up-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
main#sign-in-form form div.log-group,
main#sign-up-form form div.log-group {
  font-size: 1.4rem;
}
.theme--light main#sign-in-form form div.log-group,
.theme--light main#sign-up-form form div.log-group {
  color-scheme: light;
}
.theme--dark main#sign-in-form form div.log-group,
.theme--dark main#sign-up-form form div.log-group {
  color-scheme: dark;
}
main#sign-in-form form div.log-group label,
main#sign-up-form form div.log-group label {
  font-weight: 500;
  margin-right: 40px;
}
main#sign-in-form form div.log-group input,
main#sign-up-form form div.log-group input {
  margin-top: 16px;
  min-width: 400px;
  width: 35vw;
  padding: 12px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
}
.theme--light main#sign-in-form form div.log-group input,
.theme--light main#sign-up-form form div.log-group input {
  background-color: #D3DCFD;
  color: #000;
}
.theme--dark main#sign-in-form form div.log-group input,
.theme--dark main#sign-up-form form div.log-group input {
  background-color: #6184FE;
  color: #fff;
}
.theme--light main#sign-in-form form button#login-btn,
.theme--light main#sign-up-form form button#login-btn {
  margin-top: 80px;
  background-color: #33BD7B;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--light main#sign-in-form form button#login-btn:hover,
.theme--light main#sign-up-form form button#login-btn:hover {
  cursor: pointer;
  background-color: #2ba469;
}
.theme--dark main#sign-in-form form button#login-btn,
.theme--dark main#sign-up-form form button#login-btn {
  margin-top: 80px;
  background-color: #3FF09B;
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--dark main#sign-in-form form button#login-btn:hover,
.theme--dark main#sign-up-form form button#login-btn:hover {
  cursor: pointer;
  background-color: #34B678;
}
main#sign-in-form div.sign-up-link a.sign-up-link,
main#sign-up-form div.sign-up-link a.sign-up-link {
  font-weight: 700;
  text-decoration: underline;
}

main#sign-up-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
main#sign-up-form form div.log-group {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}
main#sign-up-form form div.log-group input {
  min-width: 500px;
  width: 50vw;
}
.theme--light main#sign-up-form form button#login-btn {
  margin-top: 24px;
  background-color: #33BD7B;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--light main#sign-up-form form button#login-btn:hover {
  cursor: pointer;
  background-color: #2ba469;
}
.theme--dark main#sign-up-form form button#login-btn {
  margin-top: 24px;
  background-color: #3FF09B;
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  transition: hover 1s;
}
.theme--dark main#sign-up-form form button#login-btn:hover {
  cursor: pointer;
  background-color: #34B678;
}/*# sourceMappingURL=style.css.map */